<%- include('./partials/head') %>

<div class="wrapper">
  <%- include('./partials/header') %>
  <%- include('./partials/navigation') %>

  <main>
    <h1>Welcome to CSE Motors!</h1>
  </main>

  <%- include('./partials/footer') %>
</div>